<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DWR_Sample</display-name>
  
  <welcome-file-list>
    <welcome-file>cardlist.jsp</welcome-file>
  </welcome-file-list>

  <!-- this is the dwr servlet declaration-->
  <servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
  </servlet>
  
  <servlet-mapping>
 		<servlet-name>dwr-invoker</servlet-name>
 		<url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  
   <!--Listeners-->
   <!-- allows to load the application context to spring container -->
  	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
  
  <!-- this is to let the contextLoader 
       to map with you application context
  	<context-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>/WEB-INF/applicationContext.xml</param-value>
  	</context-param>
  
   -->
</web-app>